@import "~mixins/breakpoints";

#main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  max-width: 100%;
  #content {
    padding: 4rem;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    @include sm {
      padding: 1rem;
    }
  }
}