@font-face {
  font-family: 'Manrope';
  src: url(~assets/fonts/Manrope-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Manrope-ExtraBold';
  src: url(~assets/fonts/Manrope-ExtraBold.ttf) format('truetype');
}
@font-face {
  font-family: 'Manrope-Bold';
  src: url(~assets/fonts/Manrope-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Manrope-SemiBold';
  src: url(~assets/fonts/Manrope-SemiBold.ttf) format('truetype');
}
@font-face {
  font-family: 'Manrope-Medium';
  src: url(~assets/fonts/Manrope-Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'Manrope-Light';
  src: url(~assets/fonts/Manrope-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Manrope-ExtraLight';
  src: url(~assets/fonts/Manrope-ExtraLight.ttf) format('truetype');
}