@import './theme.scss';
@import './fonts.scss';
@import '~mixins/breakpoints';

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: var(--accent) black;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--accent);
}

html {
  max-width: 100%;
  max-height: 100%;
}
body {
  font-family: 'Manrope', sans-serif;
  background-color: var(--background);
  color: var(--text);
  height: 100%;
  letter-spacing: 1px;
}

div.align-center {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.inline {
  padding: 5px;
  background-color: rgba($color: #fff, $alpha: 0.10);
  // font-weight: 600;
  border-radius: 5px;
  font-family: 'Manrope';
  font-size: 100%;
}
.block {
  padding: 1rem;
  background-color: rgba($color: #fff, $alpha: 0.08);
  width: 100%;
  border-radius: 5px;
  // font-weight: 600;
  code {
    font-family: 'Inconsolata';
    font-size: 85%;
    line-height: 1.4rem;
  }
}

div.spacer {
  width: 100%;
  height: 2px;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  background-color: rgba($color: #fff, $alpha: 0.15);
}

// h1 {
//   font-size: 1.7vw;
//   @include lg {

//   }
//   @include ml {

//   }
//   @include sm
// }
a:link {
  color: #698fff;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.2s ease;
}
a:visited {
  color: #698fff;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.2s ease;
}
a:hover {
  color: #69a5ff;
  transition: color 0.2s ease;
}

ul {
  margin-left: 30px;
  li {
    margin-bottom: 5px;
  }
}
