@import './theme.scss';
@import './fonts.scss';

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: var(--accent) black;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--accent);
}

html {
  max-width: 100%;
  max-height: 100%;
}
body {
  font-family: 'Manrope', sans-serif;
  background-color: var(--background);
  color: var(--text);
  height: 100%;
}
