@import './theme.scss';
@import './fonts.scss';
@import '~mixins/breakpoints';

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: var(--accent) black;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--accent);
}

html {
  max-width: 100%;
  max-height: 100%;
}
body {
  font-family: 'Manrope', sans-serif;
  background-color: var(--background);
  color: var(--text);
  height: 100%;
  letter-spacing: 1px;
}

div.align-center {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.inline {
  padding: 5px;
  background-color: rgba($color: #fff, $alpha: 0.10);
  // font-weight: 600;
  border-radius: 5px;
  font-family: 'Manrope';
  font-size: 100%;
}
.block {
  padding: 1rem;
  background-color: rgba($color: #fff, $alpha: 0.08);
  width: 100%;
  border-radius: 5px;
  // font-weight: 600;
  code {
    font-family: 'Inconsolata';
    font-size: 85%;
    line-height: 1.4rem;
  }
}

div.spacer {
  width: 100%;
  height: 2px;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  background-color: rgba($color: #fff, $alpha: 0.15);
}
div.advancedSpacer {
  width: 100%;
  height: 2px;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  background: rgb(255,255,255);
  background: linear-gradient(45deg, rgba(255,255,255,0.1) 0%, rgba(0,0,0,0) 60%);
}
// h1 {
//   font-size: 1.7vw;
//   @include lg {

//   }
//   @include ml {

//   }
//   @include sm
// }
a:any-link {
  color: #69a5ff;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.2s ease;
  stroke: #69a5ff;
}
// a:visited {
//   color: #698fff;
//   text-decoration: none;
//   font-weight: 600;
//   transition: color 0.2s ease;
// }
a:hover {
  color: #9369ff;
  stroke: #9369ff;
  transition: all 0.2s ease;
}

ul {
  margin-left: 30px;
  li {
    margin-bottom: 5px;
  }
}
.spacecode {
  margin-top: 0.6rem;
}
.colorOffset {
  color: rgba($color: #fff, $alpha: 0.85);
}
.heavyOffset {
  color: rgba($color: #fff, $alpha: 0.7);
}
.extra-bold {
  font-family: 'Manrope-ExtraBold';
}
.bold {
  font-family: 'Manrope-Bold';
}
.semi-bold {
  font-family: 'Manrope-SemiBold';
}
.medium {
  font-family: 'Manrope-Medium';
}
.light {
  font-family: 'Manrope-Light';
}
.extra-light {
  font-family: 'Manrope-ExtraLight';
}
div.table {
  position: relative;
  width: 100%;
  overflow-x: scroll;
}
table { //, thead, tr, th, tbody, td
  width: 100%;
  border: 1px rgba(255, 255, 255, 0.2) solid;
  border-radius: 5px;
  border-spacing: 0;
  // border-collapse: collapse;
}
th {
  padding: 1rem;
  background-color: #5865F2;
  font-size: 0.8rem;
  width: calc(100% / 3);
  // border-radius: 10px;
  // background-color: red;
  // border: 10px red solid;
  &.larger {
    width: calc(100% / 5);
  }
}
th:first-child {
  border-top-left-radius: 5px;
}
th:last-child {
  border-top-right-radius: 5px;
}
tbody {
  text-align: center;
}
td {
  border-bottom: 1px rgba(255, 255, 255, 0.2) solid;
  padding: 1rem;
  font-size: 0.75rem;
}